.contactsBlock {
    height: 50vh;
    background-color: burlywood;
}

.contactsContainer {
    flex-direction: column;
    justify-content: space-between;
}

.contactsForm {
    border: 1px solid;
    flex-direction: row;
    justify-content: center;
    width: 300px;
}

.title {
    background-color: #eeb7b7;
}

.input {
    min-width: 290px;
}

.textarea {
    min-width: 290px;
}

.button {
    background-color: #eeb7b7;
    width: 150px;
    height: 50px;
}
