.project {
    width: 300px;
    background-color: #181818;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.icon {
    width: 100%;
    height: 350px;
    background-color: #eeb7b7;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    position: relative;
}

.icon::before {
    position: absolute;
    content: "";
    background-color: black;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.4;
}

.link{
    /*background-color: #fae1e1;*/
    position: relative;
    padding: 8px 22px;
    font-size: 11px;
    background: #C49B66;
    color: #fff;
    bottom: -15px;
    right: 15px;
    z-index: 1;
    text-decoration: none
}

.projectTitle {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 1.2;
    color: #ccc;
}

.description {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    padding-bottom: 30px;
    /*border-bottom: 1px solid #f7f7f7;*/
    color: #a3a3a3;
    line-height: 1.6;
    word-spacing: 1px;
    margin: 0;
}