.homeWorkBlock {
    height: 50vh;
    background-color: #333;

}

.homeWorkContainer {
    height: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}
.title {
    font-family: 'Josefin Sans', sans-serif;
    color: #eee;
    /*background-color: burlywood;*/
}

.button {
    font-family: 'Josefin Sans', sans-serif;
    align-items: center;
    width: 100px;
    height: 30px;
    background-color: #C49B66;;
}
