.homeBlock {
    height: 100vh;
    background-color: #deb887;
}

.text {
    width: 300px;
    background-color: rosybrown;
}
.photo {
    width: 300px;
    height: 400px;
    background-color: rosybrown;
}