@import "../Common/Components/Button/Button.module";

.contactsBlock {
  padding: 100px 0;
  background-color: #282828;

  .contactsContainer {
    height: 100%;
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;

    .form {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;
      flex-wrap: nowrap;
      width: 540px;
      margin-top: 60px;
      @media screen and (max-width: 680px) {
        width: 100%;
      }

      .formArea,
      .messageArea {
        background: #333333;
        box-sizing: border-box;
        font-family: inherit;
        font-size: 12px;
        line-height: 1.5;
        font-weight: 400;
        outline: none;
        color: #dfe1e3;
        margin-bottom: 1.2rem;

        &:-webkit-autofill {
          border: 1px solid #4a4a4a;
          -webkit-text-fill-color: #e9eeef;
          -webkit-box-shadow: 0 0 0 1000px #252527 inset;
          transition: background-color 5000s ease-in-out 0s;

          &:focus {
            border: 2px solid #252527;
          }
        }
      }

      //.formArea {
      //  height: calc(1.5em + 75rem + 2px);
      //  padding: 4rem 15px;
      //
      //  &:focus {
      //    border: 1px solid transparent;
      //    transition: all 0.4s ease-in-out 0s;
      //  }
      //}

      //.messageArea {
      //  min-height: 160px;
      //  padding: 15px;
      //  resize: none;
      //
      //  &:focus {
      //    border: 1px solid transparent;
      //    transition: all 0.4s ease-in-out;
      //  }

        .button {
          @extend .btn;
          align-self: center;
          background-color: transparent;
          margin-top: 30px;
          margin-bottom: 10px;
        }
      }
    }
  }

